<!DOCTYPE html>
<html lang="en" th:xmlns="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spectr</title>
    <link rel="stylesheet" th:href="@{css/app.css}">
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <h1 class="title">Spectr</h1>
                </div>
                <div class="row">
                    <h3 class="subtitle">Развернута среда разработки:</h3>
                    <ul>
                        <li>Spring Boot</li>
                        <li>Thymeleaf</li>
                        <li>Hibernate</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</body>
</html>